@charset "UTF-8";
/************************************************

Stylesheet: Main Stylesheet

*************************************************/
/*********************
GENERAL STYLES
*********************/
html,
body,
button,
input,
select,
textarea {
  font-family:  'Average Sans', Helvetica, sans-serif;
  font-weight: 400;  
}

body {
  font-size: 20px;
  line-height: 1.6;
  overflow-x: hidden;
  background: #eef2f5;
  color: #4c5357;
  font-family: 'Average Sans', Helvetica, sans-serif;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
    line-height: 1.5;
  }
}

/*********************
LINK STYLES
*********************/

h1,
h2 {
  font-family: 'Fjalla One', Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  clear: both;
  margin: 0 0 3% 0;
  color: #4a545a;
}
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  clear: both;
  margin: 0 0 3% 0;
  color: #4a545a;
}

a:link, a:visited:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
    text-decoration: none;
	color: #4a545a;  }

h1 {
  font-size: 40px;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 34px;
  }
}

h2 {
  font-size: 34px;
}
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-size: 26px;
}
@media only screen and (max-width: 600px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-size: 22px;
}
@media only screen and (max-width: 600px) {
  h4 {
    font-size: 16px;
  }
}

h5 {
  font-size: 18px;
}
@media only screen and (max-width: 600px) {
  h5 {
    font-size: 14px;
  }
}

h6 {
  font-size: 14px;
}
@media only screen and (max-width: 600px) {
  h6 {
    font-size: 12px;
  }
}

hr {
  height: 1px;
  margin: 2em 0;
  border: 0;
  border-top: solid 2px #EEF2F5;
}  

/*********************
BUTTON STYLES
*********************/
input[type="submit"],
.button,
.post-content .button,
#commentform #submit {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  padding: .5em 1em;
  height: auto;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  color: #fff;
  border: none;
  border-radius: 3px;
  background: #37BF91;
  line-height: 1.4;
  -webkit-appearance: none;
}

@media only screen and (max-width: 600px) {
  input[type="submit"],
  .button,
  .post-content .button,
  #commentform #submit   {
    font-size: 14px;
  }
}
input[type="submit"]:hover,
.button:hover,
.post-content .button:hover,
#commentform #submit:hover {
  cursor: pointer;
  color: #fff;
  box-shadow: inset 0 0 80px rgba(255, 255, 255, 0.15);
  border: none;
}

input[type="submit"]:active,
.button:active,
.post-content .button:active,
#commentform #submit:active {
  outline: none;
}

.cta-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  display: inline-block;
  margin: 0;
  padding: 1em 1.2em;
  color: #fff;
  border-radius: 3px;
}
@media only screen and (max-width: 600px) {
  .cta-button {
    padding: 1em;
    font-size: 16px;
  }
}
@media only screen and (max-width: 500px) {
  .cta-button {
    width: 100%;
  }
}

.cta-button:hover {
  color: #fff;
}

/*********************
HEADER STYLES
*********************/
.header ul.off-canvas-list li {
  list-style: none; }

.site-header {
  position: relative;
  z-index: 100;
  display: inline-block;
  min-height: 180px;
  width: 100%;
  background-color: #282E34;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media only screen and (max-width: 768px) {
  .site-header {
    padding-top: 0;
  }
}
@media only screen and (max-width: 768px) {
  .header-wrap {
    padding-top: 0;
  }
}
.header-inside {
  padding: 4% 7% 0 7%;
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 1600px;
}

@media only screen and (min-width: 1400px) {
  .header-inside {
    padding: 4% 4% 0 4%;
  }
}
@media only screen and (max-width: 768px) {
  .header-inside {
    padding: 0;
  }
}
.site-header .logo {
  position: relative;
  z-index: 15;
  vertical-align: top;
  display: inline-block;
  float: left;
  max-width: 25%;
}
@media only screen and (max-width: 768px) {
  .site-header .logo {
    width: 100%;
    max-width: 100%;
    margin: 6% 0 2% 0;
    text-align: center;
  }
}
@media only screen and (max-width: 500px) {
  .site-header .logo {
    margin: 10% 0 4% 0;
  }
}

.logo-text {
  padding-top: .5%;
}

h1.site-title {
  font-size: 26px;
  font-weight: 400;
  position: relative;
  display: inline-block;  
  margin-bottom: 0;
  text-transform: uppercase;
}

.site-title a {
  position: relative;
  color: #fff;
}

.logo-image .site-title {
  display: none;
  padding: 0 10px;
}

.site-title a:hover {
  opacity: .8;
}

.site-description {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
}

.logo-image {
  top: 10%;
  margin-bottom: 0;
  text-align: center;
}

.site-header .logo-image img {
  display: block;
  margin: 0 auto;
}  

/*********************
NAVIGATION STYLES
*********************/

.menu li {	
	background: #272a33;}

.top-bar .title-area {
  z-index: 1; }

.top-bar  {	 
	background: #272a33; }

.top-bar-left {
	padding-left: 7%; }
	
.top-bar-right {
	padding-right: 6%; }	
	
.top-bar-right ul {
	padding: 20px 20px;
	background: #272a33; }	
	
.menu-item {
	background: #272a33;}
	
ul.menu li.menu-item .active {
	background: #272a33; }
	
.current-menu-item  .current-menu-item a {
	background: #272a33;}
  
.menu-item  a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	color: #8A8E98; 
	background: #272a33; }
	
.menu-item a:hover {
	/*background: #efefef;*/
	background: none;
	color: #fff; }	
  
.off-canvas-list ul {
  margin-left: 0; }
  .off-canvas-list ul li a {
    border-bottom: 0px; }
  .off-canvas-list ul .dropdown {
    margin-left: 20px; }
	
.nav-join-button a {
	border-radius: 200px;
	background: #1779BA;
	border: 2px solid #fff;
	color: #fff;
	padding: 5px 10px; }

.nav-join-button a:hover {
	background: #1779BA; }	

.menu-toggle {
  font-size: 15px;
  position: relative;
  z-index: 10;
  display: none;
  width: 100%;
  padding: 12px;
  text-align: center;
  background: #212428;
}

.menu-toggle:hover {
  cursor: pointer;
}

.menu-toggle span {
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
}

.menu-toggle span i {
  margin-right: 5px;
  color: #9BA6B2;
}

span.menu-close {
  display: none;
}

.main-navigation {
  display: inline-block;
  float: right;
  width: 75%;
  margin-bottom: 4%;
}
@media only screen and (max-width: 960px) {
  .main-navigation {
    width: 75%;
  }
}
@media only screen and (max-width: 780px) {
  .main-navigation {
    width: 72%;
  }
}

.main-navigation ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

.main-navigation li {
  position: relative;
  display: inline-block;
  word-wrap: break-word;
}

.main-navigation a {
  font-size: 16px;
  font-weight: bold;
  outline: none;
  display: block;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #b5bdc3;
}

.main-navigation ul > li > a {
  line-height: 3.5;
}

.main-navigation a:hover {
  color: #fff;
}

.main-navigation ul ul {
  position: absolute;
  top: 56px;
  left: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  width: 230px;
  text-align: left;
  border-radius: 3px;
  background: #1f2429;
  -webkit-transition: all .07s ease-in-out;
  transition: all .07s ease-in-out;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.main-navigation .show-sub,
.landscape .main-navigation ul.sub-menu {
  opacity: 1;
  visibility: visible;
  z-index: 100;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.main-navigation ul ul ul {
  top: 0;
  left: 240px;
}

.main-navigation ul ul ul:before {
  display: none;
}

.main-navigation ul ul a {
  font-size: 15px;
  font-weight: normal;
  line-height: 2;
  position: relative;
  margin: 0;
  padding: 12px 20px;
  text-transform: none;
  border-bottom: none;
}

.main-navigation ul ul a:hover {
  color: #fff;
}

.main-navigation ul ul li {
  width: 100%;
  border-bottom: dotted 1px #373F47;
}

.main-navigation ul ul li:last-child {
  border-bottom: none;
}

.main-navigation ul li.current-menu-item > a,
.main-navigation ul > li:hover > a {
  -webkit-transition: .07s ease-in-out;
  transition: .07s ease-in-out;
  color: #fff;
}

.main-navigation ul ul li:hover > a {
  border-bottom: none;
}

@media only screen and (max-width: 768px) {
  .menu-toggle {
    display: inline-block;
  }

  .main-navigation {
    display: none;
    float: none;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
  }

  .main-navigation .show-mobile-sub {
    display: inline-block;
  }

  .main-navigation a {
    display: inline-block;
    font-size: 15px;
  }

  .main-navigation ul > li > a {
    line-height: 3.5;
  }

  .menu-item-has-children {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .main-navigation ul > li.menu-item-has-children > a:after {
    display: none;
  }

  .main-navigation ul > li.menu-item-has-children:after {
    font-family: "FontAwesome";
    position: absolute;
    top: 15px;
    right: 5%;
    content: "\f107";
    color: #b5bdc3;
  }

  .main-navigation ul > li.active-sub-menu:after {
    content: "\f106";
  }

  .main-navigation ul > li.menu-item-has-children:hover:after {
    color: #fff;
  }

  .main-navigation .current-cart .widget:before,
  .main-navigation ul ul:before,
  .main-navigation ul ul ul li:first-child:before {
    display: none;
  }

  .main-navigation ul {
    margin-bottom: 0;
    padding: 0 2%;
    text-align: left;
    background: #282E34;
    animation: smoothFade .5s;
    -moz-animation: smoothFade .5s;
    -webkit-animation: smoothFade .5s;
    -o-animation: smoothFade .5s;
  }

  .header-wrap, .logo, .hero-title {
    animation: smoothFade .5s;
    -moz-animation: smoothFade .5s;
    -webkit-animation: smoothFade .5s;
    -o-animation: smoothFade .5s;
  }

  .main-navigation li {
    width: 100%;
    border-bottom: dotted 1px #373F47;
  }

  .main-navigation li:last-child {
    border-bottom: none;
  }

  .main-navigation li:hover {
    cursor: pointer;
  }

  .main-navigation ul ul {
    position: relative;
    top: auto;
    left: auto;
    z-index: 100;
    margin-left: 0 !important;
    visibility: visible;
    opacity: 1;
    display: none;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    width: 100%;
    padding: 0 0 0 5%;
    background: transparent;
  }

  .main-navigation ul ul a {
    padding: 0;
  }

  .main-navigation ul ul ul {
    top: auto;
    left: auto;
    padding-left: 5%;
  }

  .main-navigation ul ul li:first-child {
    border-top: dotted 1px #373F47;
  }
}	

.assistive-text {
  line-height: 1;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  margin-bottom: 0;
}
	
/*********************
POSTS & CONTENT STYLES
*********************/
#content #inner-content {
  padding: 0.7rem 0rem 0rem 0.7rem; }

#main {
	padding-top: 20px;} 

.content-left-popular {
	padding: 10px;
	margin: 0;
	color: #fff;
	height: 50px;
	background: #1779BA;
	width: 10%;
	text-transform: uppercase;}

@media only screen and (max-width: 600px) {
  .content-left-popular {
    width: 100%;
  }
  .content-right-popular {
  display:none; }
}	
	
.content-left-popular  span h3 {	
	color: #fff; }	

.content-left-latest {
	padding: 10px;
	margin: 0;
	color: #fff;
	height: 50px;
	background: #1779BA;	
	text-transform: uppercase;}

@media only screen and (max-width: 600px) {
  .content-left-latest {
    width: 100%;
  }
  .content-right-latest {
  display:none; }
}	
	
.content-left-latest  span h3 {	
	color: #fff; }	

#content-row  {
	padding: 0 0 4% 0; }

.entry-content {
	padding: 4%;}
	
.archive-grid .entry-content {
	padding: 0 0 1% 0;}

.article-footer {
	padding: 4%;}	
	
.container { 
	float:left;
	padding: 0;
	margin: 20px 0;
	background: #fff;
	width:100%;	}
	
.container div { 
	float:left; }	
  
article {
	background: #fff;}  

.byline-grid {
	border-top: dotted 1px #DBE0E4;    
    z-index: 50;    
    padding: 4% 4% 0 4%;
    font-size: 13px;
    color: #9BA6AD;
    font-weight: 600;}
	
.page-title .vcard {
  border: 0px;
  padding: 0px; }

.byline {
  color: #999; }

.article-header {
	padding: 4% 4% 0 4%; }

.entry-content img {
  max-width: 100%;
  height: auto; }

.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto; }

.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px; }

.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px; }
  .wp-caption img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%; }
  .wp-caption p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center; }

.post-password-form input[type="submit"] {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.85em 1em;
  margin: 0 1rem 1rem 0;
  font-size: 0.9rem;
  background: #2199e8;
  color: #fff; }
  [data-whatinput='mouse'] .post-password-form input[type="submit"] {
    outline: 0; }
  .post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus {
    background: #1583cc;
    color: #fff; }

/*********************
PAGE TITLES
*********************/

.hero-title {
  position: relative;
  z-index: 25;
  display: inline-block;
  width: 100%;
  padding: 5% 0 5% 0;
  float: left;
}
@media only screen and (max-width: 768px) {
  .hero-title {
	
    padding: 6%;
  }
}
@media only screen and (max-width: 500px) {
  .hero-title {
    padding: 6% 6% 8% 6%;
  }
}

.hero-title-inside {
  max-width: 70%;
  margin: 0 0;
}

@media only screen and (max-width: 960px) {
  .hero-title-inside {
    max-width: 100%;
  }
}
.hero-title h2 {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  margin: 0 auto;
  color: #fff;
  text-shadow: 5px 5px 35px rgba(43, 49, 54, 0.4);
}

.wf-active .hero-title h2,
.wf-loading .hero-title h2 {
  font-size: 62px;
  font-weight: 400;
}

@media only screen and (max-width: 960px) {
  .hero-title h2 {
    font-size: 44px;
  }

  .wf-active .hero-title h2,
  .wf-loading .hero-title h2 {
    font-size: 38px;
  }
}
@media only screen and (max-width: 768px) {
  .hero-title h2 {
    font-size: 44px;
  }

  .wf-active .hero-title h2,
  .wf-loading .hero-title h2 {
    font-size: 38px;
  }
}
@media only screen and (max-width: 500px) {
  .hero-title h2 {
    font-size: 34px;
  }

  .wf-active .hero-title h2,
  .wf-loading .hero-title h2 {
    font-size: 32px;
  }
}
.hero-title p {
  font-size: 20px;
  margin: 1.5% 0 0 0;
  color: #b5bdc3;
  text-shadow: 3px 3px 20px rgba(43, 49, 54, 0.5);
}

@media only screen and (max-width: 500px) {
  .hero-title p {
    font-size: 16px;
    margin-top: 3%;
  }
}
.hero-title p a {
  color: #d4dbe0;
}

.hero-title .cta-button {
  margin: 4% 5px 0 5px;
}
@media only screen and (max-width: 500px) {
  .hero-title .cta-button {
    margin: 4% 0 0 0;
  }
  .hero-title .cta-button:first-of-type {
    margin-top: 8%;
  }
}

.site-header-bg-wrap {
  animation: smoothFade 1s;
  -moz-animation: smoothFade 1s;
  -webkit-animation: smoothFade 1s;
  -o-animation: smoothFade 1s;
}

@keyframes smoothFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes smoothFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes smoothFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.background-effect {
  position: absolute;
  z-index: -999998;
  top: 0;
  left: 0;
  overflow: hidden;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: .2;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.site-header-bg.background-effect {
  background-attachment: scroll;
}

	
/*********************
FEATURED IMAGE STYLES
*********************/

.post .post-featured-image,
.single .post-featured-image,
.page .post-featured-image {
  display: inline-block;
  max-width: 100%;
  border: none;
}

#content .post-content .post-featured-image {
  overflow: hidden;
  width: 100%;
}

#content .post-content .post-featured-image:hover {
  border: none;
}

#content .post-content .post-featured-image img {
  display: block;
  margin: 0 auto;
  min-width: 100%;
  height: auto;
}

.featured-image img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
  margin-top: 1rem; }

/*********************
COMMENT STYLES
*********************/
#comments {
	padding: 0 20px;}

#comments .commentlist {
  margin-left: 0px; }

#respond ul {
  margin-left: 0px; }

.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px; }
  .commentlist li:last-child {
    margin-bottom: 0; }
  .commentlist li ul.children {
    margin: 0; }

.commentlist li[class*=depth-] {
  margin-top: 1.1em; }

.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0; }

.commentlist li:not(.depth-1) {
  margin-left: 10px;
  margin-top: 0;
  padding-bottom: 0; }

.commentlist .vcard {
  margin-left: 50px; }
  .commentlist .vcard cite.fn {
    font-weight: 700;
    font-style: normal; }
  .commentlist .vcard time {
    float: right; }
    .commentlist .vcard time a {
      color: #999;
      text-decoration: none; }
      .commentlist .vcard time a:hover {
        text-decoration: underline; }
  .commentlist .vcard img.avatar {
    position: absolute;
    left: 10px;
    padding: 2px;
    border: 1px solid #cecece;
    background: #fff; }

.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em; }

.commentlist .comment-reply-link {
  float: right; }

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em; }
  .respond-form form {
    margin: 0.75em 0; }
    .respond-form form li {
      list-style-type: none;
      clear: both;
      margin-bottom: 0.7335em; }
      .respond-form form li label,
      .respond-form form li small {
        display: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url],
    .respond-form form textarea {
      padding: 3px 6px;
      background: #efefef;
      border: 2px solid #cecece;
      line-height: 1.5em; }
      .respond-form form input[type=text]:focus,
      .respond-form form input[type=email]:focus,
      .respond-form form input[type=url]:focus,
      .respond-form form textarea:focus {
        background: #fff; }
      .respond-form form input[type=text]:invalid,
      .respond-form form input[type=email]:invalid,
      .respond-form form input[type=url]:invalid,
      .respond-form form textarea:invalid {
        outline: none;
        border-color: #fbc2c4;
        background-color: #f6e7eb;
        -ms-box-shadow: none;
        box-shadow: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url] {
      max-width: 400px;
      min-width: 250px; }
    .respond-form form textarea {
      resize: none;
      width: 97.3%;
      height: 150px; }

#comment-form-title {
  margin: 0 0 1.1em; }

#allowed_tags {
  margin: 1.5em 10px 0.7335em 0; }

.nocomments {
  margin: 0 20px 1.1em; }

/*********************
SIDEBARS & ASIDES
*********************/
.widget ul {
  margin: 0; }
  .widget ul li {
    list-style: none; }

/*********************
FOOTER STYLES
*********************/
.footer {
  clear: both;
  margin-top: 1em; }

/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/
.gform_body ul {
  list-style: none outside none;
  margin: 0; }

/******************************************************************

Stylesheet: Retina Screens & Devices Stylesheet

When handling retina screens you need to make adjustments, especially
if you're not using font icons. Here you can add them in one neat
place.

******************************************************************/
/******************************************************************

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. 

Remember to add things that won't make sense to print at 
the bottom. Things like nav, ads, and forms shouldbe set 
to display none.
******************************************************************/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }
